# Node
node_modules/
.npm

# Next.js
.next/
out/
build/

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel

# Editor
.vscode/extensions.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
